.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.logo {
  height: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6600; /* orange moderne */
}